a{
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #373A36;
}
body{
	background-color:#E6E2DD;
}
html{ 
	overflow-x: hidden; 
}
.botton_ent {
	margin-top: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 120%;
	cursor: pointer;
	
	font-weight: bold;  
	border: none;
	--c:  #252724; /* the color*/
	box-shadow: 0 0 0 .1em inset var(--c); 
	--_g: linear-gradient(var(--c) 0 0) no-repeat;
	background: 
	  var(--_g) calc(var(--_p,0%) - 100%) 0%,
	  var(--_g) calc(200% - var(--_p,0%)) 0%,
	  var(--_g) calc(var(--_p,0%) - 100%) 100%,
	  var(--_g) calc(200% - var(--_p,0%)) 100%;
	background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
	outline-offset: .1em;
	transition: background-size .4s, background-position 0s .4s;
  }
  .botton_ent:hover {
	--_p: 100%;
	transition: background-position .4s, background-size 0s;
	color: #E6E2DD;
  }
  .botton_ent:active {
	box-shadow: 0 0 9e9q inset #252724; 
	background-color: var(--c);
	color: #E6E2DD;
  }

#img{
	object-fit: fill; 
	width: 100%; 
	height: 100%;
}
#loader {
	display: flex;
	align-items: center;
    justify-content: center;
	position: absolute;
	width: 100%;
	height: 98%;
	z-index: 3;
	background-color: #E6E2DD;
  }
#loader_1 {
	margin: auto;
	margin-top: 15%;
	border: 16px solid #373A36;
	border-radius: 50%;
	border-top: 25px solid rgb(170, 74, 74);
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	opacity: 1; 
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(100deg); }
	100% { transform: rotate(360deg); }
  }
#welcome_page{
	margin-top: 13%;
	display: flex;
	align-items: center;
    justify-content: center;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #252724;
}
.welcome_name{
    margin-bottom: 2px;
}
#mains_page{
	top: 0px;
	left: 0px;
	position: absolute;
	margin: 0px;
	width: 100%;
	height: 200%;
	background-color: #373A36;
}
#hello_head{
	display: flex;
	align-items: center;
    justify-content: center;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 15%;
	width: 70%;
	height: 10%;
	color: #E6E2DD;
	background-color: #373A36;
	font-size: 144%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mains_page_content{
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #E6E2DD;
}
#div_for_contents{
	display: block;
	position: absolute;
	top: 12%;
	left: 5%;
	width: 90%;
	height: 90%;
}
#div_for_contents_0{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 90%;
	background-color: #c4c4c4;

}
#div_for_contents_image{
	display: block;
	position: absolute;
	top: 3%;
	left: 3%;
	width:25%;
	height: 70%;
	}
#div_for_contents_raiting{
	display: flex;
	align-items: center;
	position: absolute;
	top: 76%;
	left: 3%;
	width: 25%;
	height: 10%;
	color: #252724;
	font-size: 120%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div_for_contents_name{
	display: flex;
	align-items: center;
	position: absolute;
	top: 3%;
	left: 31%;
	width: 65%;
	height: 10%;
	color: #252724;
	font-size: 130%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div_for_contents_obzor{
	display: flex;
	align-items: center;
	position: absolute;
	top: 5%;
    left: 31%;
	width: 65%;
    height: 71%;
	color: #252724;
	font-size: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div_for_contents_href{
	display: flex;
	align-items: center;
    justify-content: center;
	position: absolute;
	top: 93%;
	left: 5%;
	width: 90%;
	height: 7%;
	font-size: 130%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div_for_contents_1{
	display: block;
	position: relative;
	float: left;
	width: 32%;
	height: 10%;
	margin-left: 1%;
	text-align: center;
}
#mains_page_saved{
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 50%;
	text-align: center;
	background-color: #D48166;
}
#mains_page_saved_p{
	display: flex;
	align-items: center;
    justify-content: center;
	align-items: center;
    justify-content: center;
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
	margin-top: 15px;
	color: #E6E2DD;
	font-size: 174%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div_page_saved{
	display: block;
	position: absolute;
	left: 12%;
	top: 15%;
	width: 76%;
	height: 80%;
}